@using WebApplication1.Models;
@model Usuario
@{
    ViewBag.Title = "Perfil";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
    @if (ViewBag.Usuario != null)
    {
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <div class="well profile">
                        <div class="col-sm-12">
                            <div class="col-xs-12 col-sm-8">
                                <h2 style="color:white">@ViewBag.Usuario.NombreUsuario</h2>
                                @Html.ActionLink("Eliminar Usuario", "EliminarUsuario", "Usuario", new { id = ViewBag.Usuario.IdUsuario }, null)
                                <div class="col-xs-12 divider text-center">
                                    <div class="col-xs-12 col-sm-4 emphasis">
                                        <div class="btn-group dropup btn-block">
                                            <div class="form-input editContent" data-selector=".editContent" style=""><button class="btn" data-selector="a.btn, button.btn" style="">@Html.ActionLink("Subir Audio", "SubirMusica", "Usuarios")</button></div>
                                        </div>
                                    </div>
                                </div>

                                @foreach (Cancion c in ViewBag.ListaCanciones)
                                {

                                    <br><label style="color:white;">@c.Nombre</label> <br />
                                    <br><audio src="~/Musica/@c.Ubicacion" controls loop></audio><br />
                                    @Html.ActionLink("Eliminar Cancion", "EliminarCancion", "Usaurio", new { id = c.Nombre }, null)

                                }
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>

    }
</body>

